{% extends "base.html" %}
{% block content %}
<p>
    <a href="https://trello.com" target="_blank">Trello</a> cards thru email using <a href="https://mailgun.com" target="_blank">Mailgun</a> mailboxes.
</p>
<p><img src="/static/images/three.png"></p>
<ol id="steps">
<li>
    <p><a href="{{ url_for('setup') }}">Setup</a> your email and lists. You need to set the email yourself since Trello doesn't give out that information.</p>
    <p><img src="/static/images/one.png"></p>
</li>
<li>
    <p><a href="mailto:trello@marksteve.mailgun.org">Send</a> an email to trello@marksteve.mailgun.org with a subject that contains the list keyword. CC those who you want to be added to the card. They should have setup their emails in the app as well.</p>
    <p><img src="/static/images/two.png"></p>
</li>
</ol>
{% endblock %}