{% extends "base.html" %}
{% block content %}
<div id="signed-in">
    Signed in as {{ trello_user.fullName }} <img src="https://trello-avatars.s3.amazonaws.com/{{ trello_user.avatarHash }}/30.png">
</div>
<h2>Setup</h2>
<form method="post">
    <p>
        <h3><label for="email">Email</label></h3>
        <input id="email" name="email" type="email" value="{{ email }}">
    </p>
    <p>
        <h3>Lists</h3>
        <ul id="lists">
        {% for trello_list in trello_lists %}
            <li id="{{ trello_list.list_id }}">
                <span class="keyword">{{ trello_list.keyword }}</span>
                &rarr; {{ trello_list.list_name }}
                <input type="button" class="remove" value="&times;">
            </li>
        {% endfor %}
        </ul>
        <p>
            <input type="text" id="keyword" placeholder="List keyword">
            <select id="list">
                <option value="">Select a list</option>
            {% for trello_board in trello_boards %}
                {% with organization = trello_board.organization %}
                <optgroup label="{% if organization %}{{ organization.name }}/{% endif %}{{ trello_board.name }}">
                {% endwith %}
                {% for trello_list in trello_board.lists %}
                    <option value="{{ trello_list.id }}">
                        {{ trello_list.name }}
                    </option>
                {% endfor %}
                </optgroup>
            {% endfor %}
            </select>
            <input type="button" class="add" value="+">
        </p>
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>
{% endblock %}

{% block js %}
    <script>
        $((App = {
            setAddListHandler: function() {
                $('.add').on('click', function() {
                    var $this = $(this);
                    var keyword = $this.siblings('#keyword').val();
                    var listID = $this.siblings('#list').val();
                    if (!(keyword && listID)) {
                        return;
                    }
                    var $option = $('option:selected', $this.siblings('#list'));
                    // No keyword dupes
                    var hasDupe = false;
                    $('.keyword').each(function() {
                        if ($(this).text() == keyword) {
                            hasDupe = true;
                        }
                    });
                    if (hasDupe) {
                        return;
                    }
                    var list = $.trim($option.parent('optgroup').attr('label'));
                    if (list) list += '/';
                    list += $.trim($option.text());
                    var $el = $('<li/>');
                    $el.attr('id', listID);
                    $el.html(' &rarr; ' + list + ' ');
                    var $keyword = $('<span class="keyword"/>').text(keyword);
                    $el.prepend($keyword);
                    var $remove = $('<input type="button" class="remove" value="&times;">');
                    $el.append($remove);
                    $('#lists').append($el);
                });
                $('#lists').on('click', '.remove', function() {
                    $(this).parent('li').remove();
                });
            },
            setSubmitHandler: function() {
                $('form').on('submit', function(e) {
                    e.preventDefault();
                    var $saveButton = $(this).find('input[type=submit]');
                    $saveButton.val('Saving...').prop('disabled', true);
                    $('.message').remove();
                    var data = {
                        email: $('form input[name=email]').val(),
                        lists: {}
                    };
                    $('#lists li').each(function() {
                        var $this = $(this);
                        data.lists[$this.attr('id')] = $('.keyword', $this)
                            .text();
                    });
                    $.ajax({
                        url: '/setup',
                        type: 'post',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(data)
                    }).fail(function(xhr) {
                        var response = JSON.parse(xhr.responseText);
                        $('body').prepend($('<div/>').addClass('message').html(response.error));
                    }).done(function(xhr, response) {
                        $('body').prepend($('<div/>').addClass('message')
                            .html("Saved!"));
                    }).always(function() {
                        $saveButton.val('Save').prop('disabled', false);
                    });
                });
            },
            init: function() {
                App.setAddListHandler();
                App.setSubmitHandler();
            }
        }).init);
    </script>
{% endblock %}